/* Containers */

/* Header */
.header-margin-sides {
  padding: 0 5%;
  max-width: 100%;
  position: fixed;
}

.logo {
  float: left;
	font-family: 'Montserrat', helvetica;
	font-size: 34px;
  font-weight: 700;
  color: #ffffff;
}
/* Hamburger */
.span-burger {
  color: #ffffff;
}

.menu-btn {
	position: relative;
	float: right;
	display: none;
	width: 24px;
  height: 24px;
  margin: auto 0 auto auto;
	transition: all 0.4s ease 0s;
	-moz-transition: all 0.4s ease 0s;
	-webkit-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
}

@media (max-width: 1087px) {
	.menu-btn {
    display: block;
	}
}

.menu-btn span {
  margin-top: -1px;
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	height: 2px;
	background: #ffffff;
	transition: all 0.4s ease 0s;
	-moz-transition: all 0.4s ease 0s;
	-webkit-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
}

.menu-btn span:before,
.menu-btn span:after {
	content: '';
	position: absolute;
	left: 0;
	top: -8px;
	width: 100%;
	height: 2px;
	background: #ffffff;
	transition: all 0.4s ease 0s;
	-moz-transition: all 0.4s ease 0s;
	-webkit-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
}

.menu-btn span:after {
	top: auto;
	bottom: -8px;
}

.menu-btn.active {
	margin-right: 225px;
}

.menu-btn.active span {
	background: none;
}

.menu-btn.active span:before {
	top: 0;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
}

.menu-btn.active span:after {
	bottom: 0;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
}

@media (min-width: 1088px) {
  .new-navbar {
    width: 100%;
    padding: 25px 0;
    float: right;   
  }
}
@media (max-width: 1087px) {
  .new-navbar {
    right:-230px;
    width: 230px;
    height: 100%;
    top: 0;
    padding: 50px 30px;
    position: fixed;
  }

  .new-navbar.active {
    float: right;
    right: 0;
    transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
  }
}

/* Sections */
.section-padding-top {
  padding: 180px 0;
}
@media (max-width: 1079px) {
  .section-padding-top {
    padding: 120px 0;
  }
}

.section-padding-top.gray {
  background: #f9f9f9;
  padding: 180px 0;
  
}
@media (max-width: 1079px) {
  .section-padding-top.gray {
    background: #f9f9f9;
    padding: 120px 0;
  }
}
.section-margin-sides {
  margin: 0 auto;
  position: relative;
  max-width: 1020px;
}

@media (max-width: 1079px) {
  .section-margin-sides {
    padding: 0 5%;
    max-width: 100%;
  }
}

.section-footer {
  text-align: center;
}

.footer-text {
  font-size: 14px;
	color: #898989;
	letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-bottom: 20px;
}

.footer-text a {
  height: 50px;
}
/* Hero */
.full-height {
  height: 100vh;
}

.animated-typing-container {
  display: flex;
  flex-direction: row;
  justify-content: center;

}
.title-padding {
  padding: 0 10px;
}
/* Skills */
.skill-box {

}

.skill-box p {
  margin: 0;
	font-size: 14px;
	line-height: 24px;
}

/* Projects */
.box-image {
  position: relative;
	display: block;
	width: 100%;
	height: auto;
}

#blog-section .box-image img {
  padding-bottom: 25px;
}

@media (min-width: 768px) {
  #blog-section .name {
    min-height: 96px;
  }
}

@media (min-width: 1079px) {
  #blog-section .name {
    min-height: 72px;
  }
}


/* @media (max-width: 882px) {
  #blog-section .name {
    min-height: 72px;
  }
} */

#blog-section p {
  font-size: 14px;
}
.name {
  display: block;
	font-size: 19px;
	line-height: 24px;
	margin: 0 0 13px 0;
	font-weight: 500;
	color: #292929;
}

.tag-name {
  margin: 20px 0 10px 0;
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
	color: #898989;
	line-height: 12px;
	box-shadow: inset 0 -6px 0 #ede574;
	-moz-box-shadow: inset 0 -6px 0 #ede574;
	-webkit-box-shadow: inset 0 -6px 0 #ede574;
	-khtml-box-shadow: inset 0 -6px 0 #ede574;
}
/* Blogs */
.blog-box {
  margin: 0 0 25px 0;
  font-size: 0;
  max-width: 100%;

}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 28px 0;
	font-weight: 400;
	font-family: 'Eczar', helvetica;
	color: #292929;
}

@media (max-width: 1079px) {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin: 0 0 28px 0;
	}
}

h1 {
	font-size: 52px;
	line-height: 64px;
}

@media (max-width: 1079px) {
	h1 {
		font-size: 28px;
		line-height: 40px;
	}
}

h2 {
	font-size: 46px;
	line-height: 58px;
}

@media (max-width: 1079px) {
	h2 {
		font-size: 30px;
		line-height: 38px;
	}
}

h3 {
	font-size: 40px;
	line-height: 52px;
}

@media (max-width: 1079px) {
	h3 {
		font-size: 26px;
		line-height: 33px;
	}
}

h4 {
	font-size: 34px;
	line-height: 46px;
}

@media (max-width: 1079px) {
	h4 {
		font-size: 26px;
		line-height: 34px;
	}
}

h5 {
	font-size: 28px;
	line-height: 40px;
}

@media (max-width: 1079px) {
	h5 {
		font-size: 20px;
		line-height: 28px;
	}
}

h6 {
	font-size: 22px;
	line-height: 34px;
}

@media (max-width: 1079px) {
	h6 {
		font-size: 14px;
		line-height: 22px;
	}
}

p {
	margin: 25px 0;
	padding: 0;
	font-size: 20px;
	color: #999999;
	line-height: 34px;
}

@media (max-width: 1079px) {
	p {
		font-size: 17px;
		line-height: 30px;
	}
}

strong {
	font-weight: 500;
	color: #292929;
}

/* Alignment */

.align-left {
	text-align: left !important;
}

/* Formatting */
@media (min-width: 768px) {
  .row {
    display: flex;
    flex-direction: row;
  }
}

/* Footer */
footer {
	padding: 120px 0;
}

@media (max-width: 720px) {
	footer {
		padding: 90px 0;
	}

}